body {
    padding-top: 50px;
}

a {
  cursor: pointer;
}

.mediumtable {
  max-width: 400px;
}

.dashboard-icons {
  clear:both;
  float: left;

}

.dashboard-icons li {
  display: inline;
  margin: 20px;
  padding: 15px;
}

.dashboard-icons img {
  width:30px;
}

hr {
  clear: both;
}


th {
  font-weight: bold;
  color: darkslategray;
}
