<div class="container">


 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../PetNotes/images/kitty2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to PetNotes!</h1>
              <h4 class="lead">PetNotes helps you keep track of your pets' medical needs, health records, and expenses.</h4>
              <a href="#/login" class="btn btn-default btn-lg">Get Started!</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../PetNotes/images/dog2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Keep Fido healthy</h1>
              <h4 class="lead">PetNotes can track his weight.</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../PetNotes/lizard3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Even optimized for exotics</h1>
              <h4 class="lead">Got a scaly friend? PetNotes can track her, too!</h4>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


  <h1>Welcome to PetNotes!</h1>

  <h4>PetNotes allows you to keep track of your pets' medical needs, health records, and expenses.</h4>

  <a href="#/login" class="btn btn-default btn-lg">Get Started!</a>

</div>

