<div ng-controller="DashboardCtrl" class="container">
  <h1>Enter a new pet</h1>
  <button ng-click="toggleModal()" class="btn btn-default">Open modal</button>

  <modal title="Login form" visible="showModal">
    <form role="form" name="createPetForm" ng-submit="upsertPet(user)" novalidate>
        <div class="form-group">
            <label for="name">Pet Name</label>
            <input type="text" class="form-control" id="name" ng-model="pet.name" required>
        </div>

        <div class="form-group">
            <label for="category">Type of Pet</label>
            <input type="text" class="form-control" id="category" ng-model="pet.category" required>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="createPetForm.$invalid">Submit</button>
    </form>
  </modal>
</div>
