<!-- workaround to fix closing modals  -->
<script>
  $(function () {
    $(".custom-close").on('click', function() {
        $().modal('hide');
    });
  });

</script>


<div class="container">
  <div ng-controller="PetCtrl">

    <h1> {{ pet.name }} </h1>

    <div class="col-md-6">
        <p> <img class="pet-pic" src="{{ pet.picture_url }}"> </p>
    </div>

    <div class="col-md-6">
      <h3>Basic Info</h3>
       <div class="field"> <strong>Sex:</strong>
            <div click-to-edit="pet.sex"></div>
        </div>
        <div class="field"> <strong>breed:</strong>
            <div click-to-edit="pet.breed"></div>
        </div>
        <div class="field"> <strong>birthdate:</strong>
            <div click-to-edit="pet.birthdate"></div>
        </div>
        <div class="field"> <strong>adoption date:</strong>
            <div click-to-edit="pet.adoption_date"></div>
        </div>
        <div class="field"> <strong>microchip:</strong>
            <div click-to-edit="pet.microchip_number"></div>
        </div>


       <!--  <p><label>Sex:</label>  {{ pet.sex }}</p>
        <p><label>Breed:</label> {{ pet.breed }}  </p>
        <p><label>Birthdate:</label> {{ pet.birthdate }}</p>
        <p><label>Adoption date:</label>  {{ pet.adoption_date }} </p>
        <p><label>Microchip Number:</label> {{ pet.microchip_number }}</p> -->
    </div>

    <div>&nbsp</div>

    <hr />

    <div class="col-md-6">
      <h3> Length/Height Chart </h3>

        <!-- trigger modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewLength">
          add new
        </button>

        <table class="table table-striped table-bordered">
           <thead>
            <tr>
              <th>Date</th>
              <th>Length/Height</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="length in pet.lengths">
              <td>{{ length.date_measured}}</td>
              <td>{{ length.length_amt }} {{ length.length_units }} </td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewLength" tabindex="-1" role="dialog" aria-labelledby="addNewLength" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewLength">Log a new length</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet length -->
            <form role="form" name="createLengthForm" ng-submit="upsertLength(length)" novalidate>

                <div class="form-group">
                    <label for="date_measured">Date of Measurement</label>
                    <input type="text" class="form-control" id="date_measured" placeholder="YYYYMMDD" ng-model="pet.date_measured">
                </div>

                <div class="form-group">
                    <label for="length_amt">Length Amt</label>
                    <input type="number" class="form-control" id="length_amt" ng-model="pet.length_amt">
                </div>

                <div class="form-group">
                    <label for="length_units">Length Units</label>
                    <select class="form-control" id="length_units" ng-model="pet.length_units" required>
                      <option value="centimeters">centimeters</option>
                      <option value="meters">meters</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="hands">hands</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="createLengthForm.$invalid">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </form>

          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->

    <div class="col-md-6">
      <h3> Weight Chart </h3>

      <button type="button" class="btn btn-default" class="btn btn-default" data-toggle="modal" data-target="#addNewWeight">
                add new
      </button>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="weight in pet.weights">
              <td>{{ weight.date_measured}}</td>
              <td>{{ weight.weight_amt }} {{ weight.weight_units }} </td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewWeight" tabindex="-1" role="dialog" aria-labelledby="addNewWeight" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewWeight">Log a new weight</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet weight -->
            <form role="form" name="createWeightForm" ng-submit="createWeight(weight)" novalidate>
              <div class="form-group">
                <label for="date_measured">Date of Measurement</label>
                <input type="text" class="form-control" id="date_measured" placeholder="YYYYMMDD" ng-model="pet.date_measured">
              </div>
              <div class="form-group">
                <label for="weight_amt">Weight Amount</label>
                <input type="number" class="form-control" id="weight_amt" ng-model="weight.weight_amt" >
              </div>
              <div class="form-group">
                <label for="weight_units">Units</label>
                <select class="form-control" id="weight_units" ng-model="weight.weight_units"  placeholder="ounces" required>
                  <option value="ounces">Ounces</option>
                  <option value="pounds">Pounds</option>
                  <option value="grams">Grams</option>
                  <option value="kilograms">Kilograms</option>
                  </select>
              </div>
              <button type="submit" class="btn btn-primary" ng-disabled="createWeightForm.$invalid">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->

    <hr />


    <h3> Conditions </h3>

   <!-- trigger modal -->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewCondition">
        add new
      </button>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Click for More Info</th>
            <th>Date Diagnosed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="condition in pet.conditions">
            <td>{{ condition.name }}</td>
            <td><a href="{{ condition.link_url }}">{{ condition.link_url }}</a></td>
            <td>{{ condition.diagnosis_date }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Modal -->
    <div class="modal fade" id="addNewCondition" tabindex="-1" role="dialog" aria-labelledby="addNewCondition" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewCondition">Log a new condition</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet condition -->
            <form role="form" name="createConditionForm" ng-submit="createCondition(condition)" novalidate>

                <div class="form-group" ng-controller="EntriesCtrl">
                  <label for="condition_name">Condition Name (select from list)</label>
                  <select class="form-control" ng-model="entries" ng-options="entries.title for entries in entries track by entries.title"></select>
                </div>

                <div class="form-group">
                  <label for="link_url">Link URL</label>
                  <input type="text" class="form-control" id="link_url" ng-model="pet.link_url">
                </div>

                <div class="form-group">
                  <label for="diagnosis_date">Diagnosis Date</label>
                  <input type="date" class="form-control" id="diagnosis_date"  placeholder="YYYYMMDD" ng-model="pet.diagnosis_date">
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="createConditionForm.$invalid">Submit</button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->


    <h3> Medications </h3>

     <!-- trigger modal -->
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewMedication">
        add new
      </button>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> Name</th>
            <th> RX Number</th>
            <th> Dosage </th>
            <th> Dose Frequency </th>
            <th> Cost </th>
            <th> Description </th>
            <th> Date Prescribed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medication in pet.medications">
            <td> {{ medication.name }}</td>
            <td> {{ medication.rx_num }}</td>
            <td> {{ medication.dose_amt }} {{ medication.dose_units }}</td>
            <td> {{ medication.dose_frequency }} </td>
            <td> $ {{ medication.med_cost }} </td>
            <td> {{ medication.description  }}</td>
            <td> {{ medication.date_prescribed }}</td>
          </tr>
        </tbody>
      </table>

    <!-- Modal -->
    <div class="modal fade" id="addNewMedication" tabindex="-1" role="dialog" aria-labelledby="addNewMedication" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewMedication">Log a new Medication</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet length -->
            <form role="form" name="createLengthForm" ng-submit="createLength(length)" novalidate>

                <div class="form-group">
                    <label for="date_measured">Date of Measurement</label>
                    <input type="text" class="form-control" id="date_measured" placeholder="YYYYMMDD" ng-model="pet.date_measured">
                </div>

                <div class="form-group">
                    <label for="length_amt">Length Amt</label>
                    <input type="number" class="form-control" id="length_amt" ng-model="pet.length_amt">
                </div>

                <div class="form-group">
                    <label for="length_units">Length Units</label>
                    <select class="form-control" id="length_units" ng-model="pet.length_units" required>
                      <option value="centimeters">centimeters</option>
                      <option value="meters">meters</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="hands">hands</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="createLengthForm.$invalid">Submit</button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->

    <h3> Appointment History </h3>

      <!-- trigger modal -->
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewAppt">
      add new
    </button>

     <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> Appointment Date </th>
            <th> Veterinarian</th>
            <th> Description </th>
            <th> Cost </th>
            <th> Associated Conditions </th>
            <th> Associated Vaccinations </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in pet.appointments">
            <td> {{ appointment.appointment_date }}</td>
            <td> {{ appointment.veterinarian_id }}</td>
            <td> {{ appointment.description }}</td>
            <td> $ {{ appointment.appt_cost }}</td>
            <td> {{ appointment.condition_id }}</td>
            <td> {{ appointment.vaccination_id}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Modal -->
    <div class="modal fade" id="addNewAppt" tabindex="-1" role="dialog" aria-labelledby="addNewAppt" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewAppt">Log a new appointment</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet length -->
            <form role="form" name="createLengthForm" ng-submit="createLength(length)" novalidate>

                <div class="form-group">
                    <label for="date_measured">Date of Measurement</label>
                    <input type="text" class="form-control" id="date_measured" placeholder="YYYYMMDD" ng-model="pet.date_measured">
                </div>

                <div class="form-group">
                    <label for="length_amt">Length Amt</label>
                    <input type="number" class="form-control" id="length_amt" ng-model="pet.length_amt">
                </div>

                <div class="form-group">
                    <label for="length_units">Length Units</label>
                    <select class="form-control" id="length_units" ng-model="pet.length_units" required>
                      <option value="centimeters">centimeters</option>
                      <option value="meters">meters</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="hands">hands</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="createLengthForm.$invalid">Submit</button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->


    <div class= "mediumtable">
      <h3> Vaccinations </h3>

       <!-- trigger modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewVaccination">
          add new
        </button>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Type</th>
              <th> Date Given</th>
              <th> Next Due</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vaccination in pet.vaccinations">
              <td> {{ vaccination.name }}</td>
              <td> {{ vaccination.date_given }}</td>
              <td> {{ vaccination.next_due }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewVaccination" tabindex="-1" role="dialog" aria-labelledby="addNewVaccination" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewaddNewVaccinationLength">Log a new vaccination</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet length -->
            <form role="form" name="createLengthForm" ng-submit="createLength(length)" novalidate>

                <div class="form-group">
                    <label for="date_measured">Date of Measurement</label>
                    <input type="text" class="form-control" id="date_measured" placeholder="YYYYMMDD" ng-model="pet.date_measured">
                </div>

                <div class="form-group">
                    <label for="length_amt">Length Amt</label>
                    <input type="number" class="form-control" id="length_amt" ng-model="pet.length_amt">
                </div>

                <div class="form-group">
                    <label for="length_units">Length Units</label>
                    <select class="form-control" id="length_units" ng-model="pet.length_units" required>
                      <option value="centimeters">centimeters</option>
                      <option value="meters">meters</option>
                      <option value="inches">inches</option>
                      <option value="feet">feet</option>
                      <option value="hands">hands</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="createLengthForm.$invalid">Submit</button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->

 <hr />

 <button type="button" class="btn btn-default btn-sm removal-btn" data-toggle="modal" data-target="#petRemoval">
  remove this pet
</button>

<div class="modal fade" id="petRemoval" tabindex="-1" role="dialog" aria-labelledby="petRemovalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="petRemovalLabel">Really remove this pet?</h4>
      </div>
      <div class="modal-body">
        WARNING! Are you sure you want to delete this pet's record? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, get me out of here!</button>
         <a href="" ng-click="deletePet(pet)" class="btn btn-danger">Yes, remove this pet</a>
      </div>
    </div>
  </div>
</div>



  </div>

</div>
