<div class="container">
  <div ng-controller="PetCtrl">

    <div>
      <h1> {{ pet.name }} </h1>

        <p> <img class="pet-pic" src="{{ pet.picture_url }}"> </p>
    </div>

    <div class="col-md-6">
      <h3> Basic Info (<a href="" ng-click="editPet(pet.id)">edit</a>)</h3>
        <p><label>Sex:</label>  {{ pet.sex }}</p>
        <p><label>Breed:</label> {{ pet.breed }}  </p>
        <p><label>Birthdate:</label> {{ pet.birthdate }}</p>
        <p><label>Adoption date:</label>  {{ pet.adoption_date }} </p>
        <p><label>Microchip Number:</label> {{ pet.microchip_number }}</p>
    </div>


<!-- <div class="col-md-6">
      <h3> Veterinarian(s)</h3>
       <p ng-repeat="veterinarian in pet.veterinarians"></p> -->
   <!--      <p> Dr. {{ pet.veterinarian_id }} {{ pet.veterinarian.last_name }}</p>
        <p>Email: <a href="mailto:{{ pet.veterinarian.email_address }}">{{ pet.veterinarian.email_address }}</a></p>
        <p>Phone: <a href="tel:{{ pet.veterinarian.phone_number }}">{{ pet.veterinarian.phone_number }}</a></p>
        <p>Practice Name: {{ pet.veterinarian.practice_name }} </p>
    </div> -->

    <div>&nbsp</div>

    <hr />

    <div class="col-md-6">
      <h3> Length/Height Chart </h3>

        <!-- trigger modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewLength">
          add new
        </button>

        <table class="table table-striped table-bordered">
           <thead>
            <tr>
              <th>Date</th>
              <th>Length/Height</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="length in pet.lengths">
              <td>{{ length.date_measured}}</td>
              <td>{{ length.length_amt }} {{ length.length_units }} </td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewLength" tabindex="-1" role="dialog" aria-labelledby="addNewLength" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addNewLength">Log a new length</h4>
          </div>
          <div class="modal-body">

          <!-- Form to create new pet length -->
            <form role="form" name="createLengthForm" ng-submit="createLength(length)" novalidate>

                <div class="form-group">
                    <label for="date_measured">Date of Measurement</label>
                    <input type="text" class="form-control" id="date_measured" placeholder="YYYYMMDD" ng-model="pet.date_measured">
                </div>

                <div class="form-group">
                    <label for="length_amt">Length Amt</label>
                    <input type="text" class="form-control" id="length_amt" ng-model="pet.length_amt">
                </div>

                <div class="form-group">
                    <label for="length_units">Length Units</label>
                    <input type="text" class="form-control" id="length_units" ng-model="pet.length_units">
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="createLengthForm.$invalid">Submit</button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <h3> Weight Chart </h3>

      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewWeight">
                add new
      </button>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="weight in pet.weights">
              <td>{{ weight.date_measured}}</td>
              <td>{{ weight.weight_amt }} {{ weight.weight_units }} </td>
            </tr>
          </tbody>
        </table>
    </div>

    <hr />
  <!--   <select ng-model="entries" ng-options="entry.title for entry in entries"></select> -->

    <h3> Conditions </h3>
    (<a href="" ng-click="editPet(pet.id)">add new</a>)

    <div ng-controller="EntriesCtrl">
      <select ng-model="entries" ng-options="entries.title for entries in entries"></select>
    </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Click for More Info</th>
            <th>Date Diagnosed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="condition in pet.conditions">
            <td>{{ condition.name }}</td>
            <td><a href="{{ condition.link_url }}">{{ condition.link_url }}</a></td>
            <td>{{ condition.diagnosis_date }}</td>
          </tr>
        </tbody>
      </table>

    <h3> Medications </h3>
    (<a href="" ng-click="editPet(pet.id)">add new</a>)
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> Name</th>
            <th> RX Number</th>
            <th> Dosage </th>
            <th> Dose Frequency </th>
            <th> Cost </th>
            <th> Description </th>
            <th> Date Prescribed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="medication in pet.medications">
            <td> {{ medication.name }}</td>
            <td> {{ medication.rx_num }}</td>
            <td> {{ medication.dose_amt }} {{ medication.dose_units }}</td>
            <td> {{ medication.dose_frequency }} </td>
            <td> $ {{ medication.med_cost }} </td>
            <td> {{ medication.description  }}</td>
            <td> {{ medication.date_prescribed }}</td>
          </tr>
        </tbody>
      </table>

    <h3> Appointment History </h3>
    (<a href="" ng-click="editPet(pet.id)">add new</a>)
     <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th> Appointment Date </th>
            <th> Veterinarian</th>
            <th> Description </th>
            <th> Cost </th>
            <th> Associated Conditions </th>
            <th> Associated Vaccinations </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in pet.appointments">
            <td> {{ appointment.appointment_date }}</td>
            <td> {{ appointment.veterinarian_id }}</td>
            <td> {{ appointment.description }}</td>
            <td> $ {{ appointment.appt_cost }}</td>
            <td> {{ appointment.condition_id }}</td>
            <td> {{ appointment.vaccination_id}}</td>
          </tr>
        </tbody>
      </table>

    <div class= "mediumtable">
      <h3> Vaccinations </h3>
      (<a href="" ng-click="editPet(pet.id)">add new</a>)
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th> Type</th>
              <th> Date Given</th>
              <th> Next Due</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vaccination in pet.vaccinations">
              <td> {{ vaccination.name }}</td>
              <td> {{ vaccination.date_given }}</td>
              <td> {{ vaccination.next_due }}</td>
            </tr>
          </tbody>
        </table>
    </div>

 <hr />

 <button type="button" class="btn btn-default btn-sm removal-btn" data-toggle="modal" data-target="#petRemoval">
  remove this pet
</button>

<div class="modal fade" id="petRemoval" tabindex="-1" role="dialog" aria-labelledby="petRemovalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="petRemovalLabel">Really remove this pet?</h4>
      </div>
      <div class="modal-body">
        WARNING! Are you sure you want to delete this pet's record? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, get me out of here!</button>
         <a href="" ng-click="deletePet(pet)" class="btn btn-danger">Yes, remove this pet</a>
      </div>
    </div>
  </div>
</div>



  </div>

</div>
